/bin/
D:\DeadPvp\Serv 1.8\TiensMonArno-3\DeadPvp\Serv 1.8\DeadPvp - lobby\DeadPvp.iml
D:\DeadPvp\Serv 1.8\TiensMonArno-3\DeadPvp\Serv 1.8\DeadPvp - lobby\out
D:\DeadPvp\Serv 1.8\TiensMonArno-3\DeadPvp\Serv 1.8\DeadPvp - lobby\.idea